################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShortUrlMvc/.vs/ShortUrlMvc/v16
/ShortUrlMvc/bin/Debug/netcoreapp2.2
/ShortUrlMvc/obj
